<tr>
  <td class="bookmarks">
    <span class="content"><%= bookmark.url %></span>
    <span class="timestamp">
      -- Posted <%= time_ago_in_words(bookmark.created_at) %> ago.  
    </span>
    <span>
    
      ---
      <% @sbm = Bookmark.where("url = ?", bookmark.url)%>
      <%= @sbm.count%> user really like this alot <br><%= bookmark.users.collect{|user| user.name}.join(",") %>
<% uu = User.find(params[:id])%>
<% la = @user.bookmarks.find_by_url("http://google.com")%>
<%= @user.name %>
   
    </span>
    <span><br><br><%= link_to 'Edit', edit_bookmark_path(bookmark) %> 
    <%= link_to 'Destroy', bookmark, :confirm => 'Are you sure?', :method => :delete %>
    </span>
      
  </td>
</tr>