<p id="notice"><%= notice %></p>

<p>
  <b>Real Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>User Name:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Updated at</b>
  <%= @user.updated_at.strftime('%m/%d/%Y') %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>