<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @user.name %>
</p>

<p>
  <b>Name:</b>
  <%= @user.email %>
</p>

<p>
  <b>Updated at</b>
  <%= @user.updated_at.strftime('%m/%d/%Y') %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>